.sider
  .inner-menu
    ul
      li
        a(href=`${prefixAdmin}/dashboard`) Tóm tắt
      li  
        a(href=`${prefixAdmin}/product-category`) Danh mục sản phẩm  
      li
        a(href=`${prefixAdmin}/products`) Danh mục Sản phẩm
      li
        a(href=`${prefixAdmin}/roles`) Nhóm quyền